@import "tailwindcss";

@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --font-sans: var(--font-geist-sans), sans-serif;
  --font-serif: var(--font-lora), serif;
  --font-mono: var(--font-geist-mono), monospace;

  --shadow-hard: 4px 4px 0px hsl(var(--border) / var(--tw-border-opacity, 1));
  --shadow-hard-sm: 2px 2px 0px hsl(var(--border) / var(--tw-border-opacity, 1));
}

@utility active-translate {
  transform: translate(2px, 2px);
  box-shadow: 0px 0px 0px hsl(var(--border));
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --background: 49 44% 91%;
    --foreground: 197 37% 24%;
    --card: 49 44% 91%;
    --card-foreground: 197 37% 24%;
    --popover: 49 44% 91%;
    --popover-foreground: 197 37% 24%;
    --primary: 197 37% 24%;
    --primary-foreground: 49 44% 91%;
    --secondary: 165 17% 58%;
    --secondary-foreground: 197 37% 24%;
    --muted: 49 44% 85%;
    --muted-foreground: 197 37% 40%;
    --accent: 165 17% 58%;
    --accent-foreground: 197 37% 24%;
    --destructive: 1 83% 73%;
    --destructive-foreground: 197 37% 24%;
    --border: 197 37% 24%;
    --input: 197 37% 24%;
    --ring: 197 37% 24%;
    --radius: 0rem;
  }

  .dark {
    --background: 197 37% 24%;
    --foreground: 49 44% 91%;
    --card: 197 37% 24%;
    --card-foreground: 49 44% 91%;
    --popover: 197 37% 24%;
    --popover-foreground: 49 44% 91%;
    --primary: 49 44% 91%;
    --primary-foreground: 197 37% 24%;
    --secondary: 165 17% 58%;
    --secondary-foreground: 197 37% 24%;
    --muted: 197 37% 30%;
    --muted-foreground: 49 44% 75%;
    --accent: 165 17% 58%;
    --accent-foreground: 197 37% 24%;
    --destructive: 1 83% 73%;
    --destructive-foreground: 197 37% 24%;
    --border: 49 44% 91%;
    --input: 49 44% 91%;
    --ring: 49 44% 91%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
